<!--  Implementar código de base.html  --->
{% extends "base.html" %}
{% block title %} Ver tickets {% endblock %}
{% block content %}
<div class="container mt-5 p-4 shadow rounded bg-light">
    <h2 class="text-primary mb-4">Crear ticket</h2>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label fw-bold">Usuario:</label>
            <input type="text" class="form-control shadow-sm" name="usuario" value="{{ session.usuario }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Titulo:</label>
            <input type="text" class="form-control shadow-sm" name="titulo" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Descripción:</label><br>
            <textarea type="text" class="form-control shadow-sm" name="descripcion" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Prioridad:</label>
            <select name="prioridad" class="form-select form-select-lg shadow-sm" onchange="cambiarColor(this)" required>
                <option value="" disabled selected>Seleccione Prioridad</option>
                <option value="naja">🟢 Baja prioridad</option>
                <option value="media">🟡 Media prioridad</option>
                <option value="alta">🔴 Alta prioridad</option>
            </select>
        </div>

        <div class="mb-3  text-center">
            <button type="submit" class="btn btn-succes btn-lg px-4 py-2 shadow"><i class="bi bi-ticket-perforated me-2"></i> Crear Ticket</button>
        </div>

    </form>
</div>
<!---Script para cambiar color de seleccionador xd --->
<script>
    function cambiarColor(select)
    {
        if(select.value == "naja")
        {
            select.style.borderColor = "green"
        }
        if(select.value == "media")
        {
            select.style.borderColor = "orange"
        }
        if(select.value == "alta")
        {
            select.style.borderColor = "red "
        }
    }
</script>
{% endblock %}
