<!DOCTYPE html>
<html>
<head>
    <title>Crear ticket</title>
</head>
<body>
<!--  Implementar código de base.html  --->
{% extends "base.html" %}
{% block title %} Ver tickets {% endblock %}
{% block content %}
<div class="container mt-5 p-4 shadow rounded bg-light">
    <h2 class="text-primary mb-4">Crear ticket</h2>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label fw-bold">Usuario:</label>
            <input type="text" class="form-control" name="usuario">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Titulo:</label>
            <input type="text" class="form-control" name="titulo">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Descripción:</label><br>
            <textarea type="text" class="form-control" name="descripcion"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Prioridad:</label>
            <select name="prioridad" class="select rounded">
                <option value="baja">🟢 Baja</option>
                <option value="media">🟡 Media</option>
                <option value="alta">🔴 Alta</option>
            </select>
        </div>

        <button type="submit" class="btn btn-succes mb-m"> ➕ Crear Ticket</button>
        
    </form>
</div>
{% endblock %}
</body>
</html>