<!DOCTYPE html>
<html>
<head>
    <title>Crear ticket</title>
</head>
<body>
    <h1>Crear ticket</h1>

    <form method="POST">

        <label>Titulo:</label><br>
        <input type="text" name="titulo"><br><br>

        <label>Descripción:</label><br>
        <input type="text", name="descripcion"><br><br>

        <label>Prioridad:</label><br><br>
        <select name="prioridad">
            <option value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
        </select><br><br>

        <label>Usuario:</label><br>
        <input type="text" name="usuario"><br><br>

        <button type="submit">Crear Ticket</button>

    </form>
</body>
</html>