<!--  Implementar código de base.html  --->
{% extends "base.html" %}
{% block title %} Ver tickets {% endblock %}
{% block content %}

<h2 class="text-primary">Lista de tickets</h2>
<form method="GET" action="/" class="mb-3">
    <div class="input-group">
        <input type="text" name="buscar" class="form-control" placeholder="Buscar ticket...">
        <button class="btn btn-primary"><i class="bi bi-search"></i>Buscar</button>
    </div>
</form>
<div class="container mt-2 p-4 shadow rounded bg-light">
<table class="mt-2 table table-striped">
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Prioridad</th>
        <th>Estado</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Accion</th>
    </tr>
    <!--- Conexión con jinja2 -->
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket[0] }}</td>
        <td>{{ ticket[1] }}</td>
        <td>{{ ticket[2] }}</td>
        <td>{{ ticket[3] }}</td>
        <td>
            {% if ticket[4] == "abierto" %}
            <span class="badge bg-success">Abierto</span>
            {% elif ticket[4] == "en proceso" %}
            <span class="badge bg-warning text-dark">En proceso</span>
            {% elif ticket[4] == "cerrado" %}
            <span class="badge bg-danger">Cerrado</span>
            {% endif %}
        </td>
        <td>{{ ticket[6] }}</td>
        <td>{{ ticket[5] }}</td>
        
        <!--- Botón para eliminarlos alv -->
        <td>
            <button 
            class="btn btn-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#modalEliminar"
            onclick="setTicketId('{{ ticket[0] }}')">
            <i class="bi bi-check-circle"></i> Finalizado
            </button>
        </td>
        
    </tr> 
    {% endfor %}
</table>
</div>

<div class="d-flex justify-content-center met-4 mt-4">

    {% if pagina > 1 %}
    <a class="btn btn-outline-primary me-2" href="/?pagina={{ pagina - 1 }}"> ⬅ Anterior </a>
    {% else %}
    <button class="btn btn-outline-secondary me-2" disable> ⬅ Anterior </button>
    {% endif %}

    {% if tickets|length == 4 %}
    <a class="btn btn-outline-primary" href="/?pagina={{ pagina + 1 }}">Siguiente ➡</a>
    {% else %}
    <button class="btn btn-outline-secondary me-2" disabled> Siguiente ➡ </button>
    {% endif %}
</div>

<!--- Script para programar funsion que hará referencia al decorador "borrar ticket" -->
<script>
function setTicketId(id) 
{
    document.getElementById("btnConfirmarEliminar").href = "/eliminar/" + id;
}
</script>

<!--- modales para el mensaje de eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">⚠ Confirmar eliminación</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                ¿Seguro que quieres finalizar este ticket?
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <!--- acción que manda llamar la funsion de arriba para eliminar el ticket seleccionado -->
                <a id="btnConfirmarEliminar" class="btn btn-danger">
                    Eliminar
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}

